th{
    background-color: violet;
}

td{
    background-color: lightblue;
}


.ship-piece{
    background-color: darkmagenta ;
}

.ship-piece-hited{
    background-color: black;
}

.salvo{
    background-color: crimson;
}

